html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    transition: .5s;

}
a{
    text-decoration: none;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
}

#navbar.scrolled {
    background-color: white;
    box-shadow: 0px -10px 20px black;
}
#navbar.scrolled a{
    color: #E0B61B;
}

#navbar.scrolled a.button{
    background-color: #E0B61B;
    color: white;
    padding: 15px 40px;
    border-radius: 50px;
    text-transform: uppercase;
}

.header-content{
    width: 100%;
    position: fixed;
    padding: 10px 0;
}
.header-content nav{
    display: flex;   
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.list-menu{
    display: flex;
    list-style: none;
    gap: 60px;
    justify-content: center;
    padding: 0 15%;
}

.list-menu li a, .header-content a{
    color: white;
    font-size: 18px;
}
.header-content a.logo{
    font-size: 30px;
    font-weight: 600;
}
.header-content a.button{
    background-color: white;
    color: #E0B61B;
    padding: 15px 40px;
    border-radius: 50px;
    text-transform: uppercase;
}

.header-content .content-border{
    width: 25%;
    display: flex;
    justify-content: center;
}
.header-content .content-center{
    width: 50%;
}


.section-1{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 100%;
    height: 100vh;
    background-image: url(../image/image.png);
    background-size: cover;
    background-position: center center;
}
.section-1 h1{
    font-size: 50px;
    margin: 0;
    color: white;

}
.section-1 p{
    font-size: 16px;
    color: white;
    width: 800px;
}
.section-1 a{
    text-decoration: none;
    width: fit-content;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #232323;
    border-radius: 50px;
    color: white;
    padding: 20px 40px  ;
    font-weight: 300;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.colum-1{
    width: 100%;
    padding: 0 10%;
}

.section-1to2{
    padding: 100px 10%;
}

.section-1to2 .title-descrip{
    text-align: center;
    padding-bottom: 50px;
}

.section-1to2 .title-descrip h2{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 5px;
}

.section-1to2 .content-service{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.section-1to2 .item{
    flex-grow: 1;
    flex-basis: 200px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section-1to2 .item img{
    width: 80%;
}
.section-1to2 .item h5{
    text-transform: uppercase;
    font-size: 20px;
    margin: 30px 0 10px;
}
.section-1to2 .item p{
    font-size: 16px;
    text-align: center;
}

.section-2{
    display: flex;
    align-items: center;
    padding: 150px 10%;
    background-image: url(../image/bg-yellow.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 500px;
}
.section-2 div.content-about{
    width: 50%;
}

.section-2 .content-about img{
    width: 70%;
}

.section-2 .content-about.colum-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2 h2{
    font-size: 100px;
    color: #E0B61B;
    line-height: 80%;
    margin-bottom: 5px ;
}

.section-3{
    display: flex;
    align-items: center;
    padding: 150px 10%;
    background-image: url(../image/bg-yellow2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 450px;
}
.section-3 div.content-about{
    width: 50%;
}

.section-3 .content-about img{
    width: 85%;
}

.section-3 .content-about.colum-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3 h2{
    font-size: 50px;
    color: #E0B61B;
    line-height: 85%;
    margin-bottom: 5px ;
}

footer{
    background-color: #14292B;
    color: white;
    text-align: center;
    padding: 100px 10%;
    margin-top: 100px;
}
footer a{
    color: #14292B;
    background-color: white;
    padding: 10px 20px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 18px;
}
footer p{
    margin: 50px 0;
    font-size: 16px;
}
footer h2{
    margin: 0;
    font-size: 30px;
}
footer img{
    width: 200px;
    margin-bottom: 50px;
}

@media (max-width: 685px){
    .header-content nav{
        width: 100%;
    }
    .header-content .content-border{
        width: 0%;
    }
    .header-content .content-center{
        width: 0%;
    }
    .section-1 a{
        padding: 10px 25px;
        font-size: 25px;
    }
    .list-menu{
        display: none;
    }
    .header-content a.button{
        display: none;
    }

    .section-1 h1{
        font-size: 25px;
    }
    .section-1 p{
        width: 100%;
    }
    
    .section-1to2{
        padding: 50px 10%;
    }
    
    .section-1to2 .title-descrip{
        padding-bottom: 50px;
    }
    
    .section-1to2 .title-descrip h2{
        font-size: 25px;
        line-height: 90%;
    }
    
    .section-1to2 .item{
        padding: 20px 30px;
    }
    
    .section-1to2 .item img{
        width: 60%;
    }
    
    .section-2{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        padding: 50px 10%;
    }
    .section-2 div.content-about{
        width: 100%;
    }
    
    .section-2 .content-about img{
        width: 70%;
        margin-top: 50px;
    }
    
    .section-2 h2{
        font-size: 50px;
        color: #14292B;
        margin-bottom: 50px;
    }
    .section-2 p{
        text-align: justify;
    }

    .section-3{
        padding: 50px 10%;
        flex-direction: column;
    }
    .section-3 div.content-about{
        width: 100%;
    }
    
    .section-3 .content-about img{
        width: 70%;
    }
    
    .section-3 h2{
        font-size: 30px;
        color: #14292B;
        line-height: 85%;
        margin-bottom: 50px;
    }
    
    .section-3 p{
        text-align: justify;
        margin-bottom: 50px;
    }

    footer a{
        color: #14292B;
        background-color: white;
        padding: 10px 20px;
        border-radius: 50px;
        text-transform: uppercase;
        font-size: 25px;
    }
    footer p{
        margin: 50px 0;
        font-size: 16px;
    }
    footer h2{
        margin: 0;
        font-size: 30px;
    }
    footer img{
        width: 200px;
        margin-bottom: 50px;
    }
}